:root {
  --section-link-color: #0d50bb;
  .prose {
    --tw-prose-body: #000000;
    --tw-prose-headings: #000000;
    --tw-prose-lead: #000000;
    --tw-prose-bullets: #000000;
  }
}
.prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    @apply text-black;
  }
  a {
    @apply text-[#0d50bb] underline hover:underline;
    color: var(--section-link-color);
  }
}
