/* Breadcrumbs */
.breadcrumbs {
  span {
    @apply inline;
  }
  a {
    @apply hover:underline;
  }
}

/* Card Hover */
.card-hover .card-image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-hover .card-text {
  height: 100%;
  width: 100%;
  --tw-translate-y: 75%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background-color: rgb(0 47 86 / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.8;
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  @apply w-full h-full p-4 text-white bg-opacity-80;
  background-color: var(--section-card-hover-bg-color);
}

.card-hover {
  &.card-brand-sea {
    .card-text {
      @apply bg-brand-sea/80;
    }
  }
  &.card-brand-purple {
    .card-text {
      @apply bg-brand-purple/80;
    }
  }
}

@media (min-width: 1280px) {
  .card-hover .card-text {
    padding: 1.5rem;
  }
}

.card-hover .card-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-hover .card-title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  line-height: 1.375;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

@media (min-width: 768px) {
  .card-hover .card-title {
    font-size: 1.25rem;
    line-height: 1.375;
  }
}

@media (min-width: 1024px) {
  .card-hover .card-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    line-height: 1.375;
  }
}

@media (min-width: 1280px) {
  .card-hover .card-title {
    font-size: 1.25rem;
    line-height: 1.375;
  }
}

.card-hover .card-excerpt {
  margin-top: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 0;
  transition-property: color, background-color, border-color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

@media (min-width: 1280px) {
  .card-hover .card-excerpt {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.card-hover:hover .card-text {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  padding-top: 2rem;
}

@media (min-width: 1280px) {
  .card-hover:hover .card-text {
    padding-top: 4rem;
  }
}

.card-hover:hover .card-excerpt {
  margin-top: 2rem;
  opacity: 1;
}

/* Content Cards */
.filter-content-card {
  &.filter-active {
    @apply bg-brand-sea border-brand-sea text-white;
    background-color: var(--section-link-color);
    border-color: var(--section-link-color);
  }
}
.content-cards-grid {
  .swiper-pagination {
    .swiper-pagination-bullet {
    }
  }
}

/* Filter Cards */
.filter-button {
  &.filter-active {
    @apply bg-brand-sea border-brand-sea text-white;
    background-color: var(--section-link-color);
    border-color: var(--section-link-color);
  }
}
.filter-button-prev,
.filter-button-next {
  &:hover {
    background-color: var(--section-link-color);
  }
  &.swiper-button-disabled {
    @apply opacity-20 hover:bg-white hover:text-brand-black;
  }
  &.swiper-button-lock {
    @apply hidden;
  }
}

/* Posts Pagination */
.posts-pagination,
.ajax-pagination {
  > ul {
    @apply flex items-center justify-end gap-x-1;
    > li {
      @apply p-2 flex w-10 h-10 justify-center items-center rounded-full cursor-pointer hover:text-brand-sea;
      &:hover {
        color: var(--section-link-color);
      }
      &.inactive {
        @apply opacity-50 cursor-not-allowed;
      }
      &.selected {
        @apply bg-brand-sea text-white;
        background-color: var(--section-link-color);
      }
      &:first-child,
      &:last-child {
        @apply tracking-[-0.2em];
      }
    }
  }
}
.nav-links {
  @apply flex items-center justify-center gap-x-1;
  .page-numbers {
    @apply p-2 flex w-10 h-10 justify-center items-center rounded-full cursor-pointer;
    &.current {
      @apply bg-brand-sea text-white;
      background-color: var(--section-link-color);
    }
    &.prev,
    &.next {
      @apply w-auto rounded-none;
    }
  }
}

/* Video Embed */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
