.select2-container {
  @apply block box-border m-0 relative align-middle;
  .select2-selection--single {
    @apply box-border block cursor-pointer select-none h-10;
    .select2-selection__rendered {
      @apply block pl-4 pr-6 overflow-hidden text-ellipsis whitespace-nowrap;
    }
    .select2-selection__clear {
      @apply bg-transparent border-none text-[1em];
    }
  }
  &[dir="rtl"] {
    .select2-selection--single {
      .select2-selection__rendered {
        @apply pr-4 pl-6;
      }
    }
  }
  .select2-selection--multiple {
    @apply box-border block cursor-pointer select-none min-h-[40px];
    .select2-selection__rendered {
      @apply inline list-none p-0;
    }
    .select2-selection__clear {
      @apply bg-transparent border-none text-[1em];
    }
  }
  .select2-search--inline {
    .select2-search__field {
      @apply box-border border-none font-[100%] mt-[5px] ml-[5px] p-0 max-w-full h-[18px] align-bottom font-sans overflow-hidden break-keep;
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }
  }
}

.select2-dropdown {
  @apply bg-white border border-[#aaa] rounded box-border block absolute w-full z-[1051] -left-[100000px];
}
.select2-results {
  @apply block;
}
.select2-results__options {
  @apply list-none m-0 p-0;
}

.select2-results__option {
  @apply p-1.5 select-none;
}

.select2-results__option--selectable {
  @apply cursor-pointer;
}

.select2-container--open {
  .select2-dropdown {
    @apply left-0;
  }
  .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
}
.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.select2-search--dropdown.select2-search--hide {
  display: none;
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 26px;
  margin-right: 20px;
  padding-right: 0px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: #999;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--default[dir="rtl"]
  .select2-selection--single
  .select2-selection__clear {
  float: left;
}

.select2-container--default[dir="rtl"]
  .select2-selection--single
  .select2-selection__arrow {
  left: 1px;
  right: auto;
}

.select2-container--default.select2-container--disabled
  .select2-selection--single {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled
  .select2-selection--single
  .select2-selection__clear {
  display: none;
}

.select2-container--default.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  padding-bottom: 5px;
  padding-right: 5px;
  position: relative;
}
.select2-container--default
  .select2-selection--multiple.select2-selection--clearable {
  padding-right: 25px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__clear {
  cursor: pointer;
  font-weight: bold;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
  position: absolute;
  right: 0;
  padding: 1px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
  padding-left: 20px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
  white-space: nowrap;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-right: 1px solid #aaa;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #999;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px;
  position: absolute;
  left: 0;
  top: 0;
}
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove:hover,
.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice__remove:focus {
  background-color: #f1f1f1;
  color: #333;
  outline: none;
}

.select2-container--default[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--default[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice__display {
  padding-left: 5px;
  padding-right: 2px;
}

.select2-container--default[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice__remove {
  border-left: 1px solid #aaa;
  border-right: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.select2-container--default[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__clear {
  float: left;
  margin-left: 10px;
  margin-right: auto;
}

.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border: solid black 1px;
  outline: 0;
}

.select2-container--default.select2-container--disabled
  .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}

.select2-container--default.select2-container--disabled
  .select2-selection__choice__remove {
  display: none;
}

.select2-container--default.select2-container--open.select2-container--above
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--above
  .select2-selection--multiple {
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */
}

.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple {
  /* border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; */
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__group {
  padding-left: 0;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}
.select2-container--default
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option
  .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}

.select2-container--default .select2-results__option--group {
  padding: 0;
}

.select2-container--default .select2-results__option--disabled {
  color: #999;
}

.select2-container--default .select2-results__option--selected {
  background-color: #ddd;
}

.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #5897fb;
  color: white;
}

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}

.select2-container--classic .select2-selection--single {
  background-color: #f7f7f7;
  border: 1px solid #aaa;
  border-radius: 4px;
  outline: 0;
  background-image: -webkit-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, white 50%, #eeeeee 100%);
  background-image: linear-gradient(to bottom, white 50%, #eeeeee 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}
.select2-container--classic .select2-selection--single:focus {
  border: 1px solid #5897fb;
}
.select2-container--classic
  .select2-selection--single
  .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container--classic
  .select2-selection--single
  .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  height: 26px;
  margin-right: 20px;
}
.select2-container--classic
  .select2-selection--single
  .select2-selection__placeholder {
  color: #999;
}
.select2-container--classic
  .select2-selection--single
  .select2-selection__arrow {
  background-color: #ddd;
  border: none;
  border-left: 1px solid #aaa;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0);
}
.select2-container--classic
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}

.select2-container--classic[dir="rtl"]
  .select2-selection--single
  .select2-selection__clear {
  float: left;
}

.select2-container--classic[dir="rtl"]
  .select2-selection--single
  .select2-selection__arrow {
  border: none;
  border-right: 1px solid #aaa;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  left: 1px;
  right: auto;
}

.select2-container--classic.select2-container--open .select2-selection--single {
  border: 1px solid #5897fb;
}
.select2-container--classic.select2-container--open
  .select2-selection--single
  .select2-selection__arrow {
  background: transparent;
  border: none;
}
.select2-container--classic.select2-container--open
  .select2-selection--single
  .select2-selection__arrow
  b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}

.select2-container--classic.select2-container--open.select2-container--above
  .select2-selection--single {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-image: -webkit-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(top, white 0%, #eeeeee 50%);
  background-image: linear-gradient(to bottom, white 0%, #eeeeee 50%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0);
}

.select2-container--classic.select2-container--open.select2-container--below
  .select2-selection--single {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: -webkit-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: -o-linear-gradient(top, #eeeeee 50%, white 100%);
  background-image: linear-gradient(to bottom, #eeeeee 50%, white 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0);
}

.select2-container--classic .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text;
  outline: 0;
  padding-bottom: 5px;
  padding-right: 5px;
}
.select2-container--classic .select2-selection--multiple:focus {
  border: 1px solid #5897fb;
}
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__clear {
  display: none;
}
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice {
  background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 4px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
}
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice__display {
  cursor: default;
  padding-left: 2px;
  padding-right: 5px;
}
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice__remove {
  background-color: transparent;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #888;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  padding: 0 4px;
}
.select2-container--classic
  .select2-selection--multiple
  .select2-selection__choice__remove:hover {
  color: #555;
  outline: none;
}

.select2-container--classic[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto;
}

.select2-container--classic[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice__display {
  padding-left: 5px;
  padding-right: 2px;
}

.select2-container--classic[dir="rtl"]
  .select2-selection--multiple
  .select2-selection__choice__remove {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.select2-container--classic.select2-container--open
  .select2-selection--multiple {
  border: 1px solid #5897fb;
}

.select2-container--classic.select2-container--open.select2-container--above
  .select2-selection--multiple {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select2-container--classic.select2-container--open.select2-container--below
  .select2-selection--multiple {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select2-container--classic .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
  outline: 0;
}

.select2-container--classic .select2-search--inline .select2-search__field {
  outline: 0;
  box-shadow: none;
}

.select2-container--classic .select2-dropdown {
  background-color: white;
  border: 1px solid transparent;
}

.select2-container--classic .select2-dropdown--above {
  border-bottom: none;
}

.select2-container--classic .select2-dropdown--below {
  border-top: none;
}

.select2-container--classic .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--classic .select2-results__option--group {
  padding: 0;
}

.select2-container--classic .select2-results__option--disabled {
  color: grey;
}

.select2-container--classic
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #3875d7;
  color: white;
}

.select2-container--classic .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container--classic.select2-container--open .select2-dropdown {
  border-color: #5897fb;
}
/* .page-template-template-service_locator main {
  height: 100%;
} */

.select2-container .select2-selection--single {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 44px;
  font-size: 14px;
}
.select2-container--default .select2-selection--single {
  @apply rounded-full border-none bg-white;
}
.select2-container--default .select2-selection--single:focus {
  outline: 0;
  border: 1px solid #b2519e;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  @apply block py-1.5 pr-6 pl-4 overflow-hidden text-ellipsis whitespace-nowrap;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #000;
  line-height: 32px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 38px;
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
  padding: 10px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  left: 50%;
  margin-left: -9px;
  margin-top: -9px;
  position: absolute;
  top: 50%;
  width: 0;
  border: none;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 20 20'%3E%3Cpath d='M4.516 7.548c.436-.446 1.043-.481 1.576 0L10 11.295l3.908-3.747c.533-.481 1.141-.446 1.574 0 .436.445.408 1.197 0 1.615-.406.418-4.695 4.502-4.695 4.502a1.095 1.095 0 0 1-1.576 0S4.924 9.581 4.516 9.163s-.436-1.17 0-1.615z' fill='%23B2519E'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.select2-container .select2-selection--single .select2-selection__clear {
  background-color: transparent;
  border: none;
  font-size: 30px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: 500;
  padding-right: 0;
  height: 44px;
  margin-right: 36px;
  color: #ccc;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__clear
  span {
  line-height: 44px;
  vertical-align: top;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__clear:hover {
  color: #999;
}
.select2-dropdown {
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid hsla(240, 1%, 46%, 0.2);
  -webkit-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 4px 0;
}
.select2-results__option {
  @apply text-sm;
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border-top: none;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #b2519e;
  color: #fff;
}
.page-template-template-service_finder .pac-icon-marker,
.page-template-template-service_finder .pac-logo:after {
  display: none;
}
.page-template-template-service_finder .pac-item-query {
  font-size: 13px;
}
.page-template-template-service_finder .pac-item {
  background-color: #fff;
  color: #000;
  font-size: 13px;
  padding: 10px 20px;
  line-height: 18px;
  border-top: none;
}
.page-template-template-service_finder .pac-item:hover {
  background-color: #b2519e;
  color: #fff;
}
.page-template-template-service_finder .pac-item:hover .pac-item-query {
  color: #fff;
}
.page-template-template-service_finder .pac-container {
  position: absolute !important;
  z-index: 1000;
  font-family: Arial, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  border-radius: 4px;
  margin: 0;
  border-radius: 2px;
  border: 1px solid hsla(240, 1%, 46%, 0.2);
  -webkit-box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 4px 0;
}
.cluster:focus,
.page-template-template-service_finder .focus-within {
  outline: 0;
}
.link_overlay-btn {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; */
}
button.link_overlay-btn {
  border: none;
  outline: none;
  background: none;
  padding: 0;
}
.service_locator-view-mode {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid hsla(210, 3%, 86%, 0.5);
  > button {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    color: #b2519e;
    border: 1px solid #b2519e;
    padding: 12px 20px;
    background-color: #fff;
  }
  > button.active {
    background-color: #b2519e;
    color: #fff;
  }
  > button:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  > button:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  @apply lg:hidden;
}

.service_locator,
.service_locator-content_wrapper,
.service_locator-wrap {
  /* height: calc(100vh - 6.125rem); */
}
.service_locator-content_wrapper {
  position: relative;
}
.service_locator-progress {
  width: 100%;
  position: absolute;
  height: 100%;
  z-index: -1;
  opacity: 0;
  .linear-progress-bar {
    background: #e1bbd9;
    height: 3px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    -webkit-animation: e 0.3s ease-in;
    animation: e 0.3s ease-in;
    .bar {
      background: #b2519e;
      -webkit-transition: -webkit-transform 0.2s linear;
      transition: -webkit-transform 0.2s linear;
      transition: transform 0.2s linear;
      transition: transform 0.2s linear, -webkit-transform 0.2s linear;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
    }
    .bar1 {
      -webkit-animation: g 2.5s infinite;
      animation: g 2.5s infinite;
      -webkit-animation-delay: 0;
      animation-delay: 0;
    }
    .bar2 {
      left: -100%;
      -webkit-animation: g 2.5s infinite;
      animation: g 2.5s infinite;
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s;
    }
  }
}

@-webkit-keyframes growBar1 {
  0% {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
  }
  36.6% {
    -webkit-animation-timing-function: cubic-bezier(
      0.33473,
      0.12482,
      0.78584,
      1
    );
    animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
  }
  69.15% {
    -webkit-animation-timing-function: cubic-bezier(
      0.22573,
      0,
      0.23365,
      1.37098
    );
    animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
    -webkit-transform: scaleX(0.83);
    transform: scaleX(0.83);
  }
  to {
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
  }
}
@keyframes growBar1 {
  0% {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
  }
  36.6% {
    -webkit-animation-timing-function: cubic-bezier(
      0.33473,
      0.12482,
      0.78584,
      1
    );
    animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
  }
  69.15% {
    -webkit-animation-timing-function: cubic-bezier(
      0.22573,
      0,
      0.23365,
      1.37098
    );
    animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
    -webkit-transform: scaleX(0.83);
    transform: scaleX(0.83);
  }
  to {
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
  }
}
@-webkit-keyframes moveBar1 {
  0% {
    left: -105.16667%;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  20% {
    left: -105.16667%;
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
  }
  69.15% {
    left: 21.5%;
    -webkit-animation-timing-function: cubic-bezier(
      0.30244,
      0.38135,
      0.55,
      0.95635
    );
    animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
  }
  to {
    left: 95.44444%;
  }
}
@keyframes moveBar1 {
  0% {
    left: -105.16667%;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  20% {
    left: -105.16667%;
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
  }
  69.15% {
    left: 21.5%;
    -webkit-animation-timing-function: cubic-bezier(
      0.30244,
      0.38135,
      0.55,
      0.95635
    );
    animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
  }
  to {
    left: 95.44444%;
  }
}
@-webkit-keyframes growBar2 {
  0% {
    -webkit-animation-timing-function: cubic-bezier(
      0.20503,
      0.05705,
      0.57661,
      0.45397
    );
    animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
  }
  19.15% {
    -webkit-animation-timing-function: cubic-bezier(
      0.15231,
      0.19643,
      0.64837,
      1.00432
    );
    animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
    -webkit-transform: scaleX(0.57);
    transform: scaleX(0.57);
  }
  44.15% {
    -webkit-animation-timing-function: cubic-bezier(
      0.25776,
      -0.00316,
      0.21176,
      1.38179
    );
    animation-timing-function: cubic-bezier(
      0.25776,
      -0.00316,
      0.21176,
      1.38179
    );
    -webkit-transform: scaleX(0.91);
    transform: scaleX(0.91);
  }
  to {
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
  }
}
@keyframes growBar2 {
  0% {
    -webkit-animation-timing-function: cubic-bezier(
      0.20503,
      0.05705,
      0.57661,
      0.45397
    );
    animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
  }
  19.15% {
    -webkit-animation-timing-function: cubic-bezier(
      0.15231,
      0.19643,
      0.64837,
      1.00432
    );
    animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
    -webkit-transform: scaleX(0.57);
    transform: scaleX(0.57);
  }
  44.15% {
    -webkit-animation-timing-function: cubic-bezier(
      0.25776,
      -0.00316,
      0.21176,
      1.38179
    );
    animation-timing-function: cubic-bezier(
      0.25776,
      -0.00316,
      0.21176,
      1.38179
    );
    -webkit-transform: scaleX(0.91);
    transform: scaleX(0.91);
  }
  to {
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
  }
}
@-webkit-keyframes moveBar2 {
  0% {
    left: -54.88889%;
    -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
    animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
  }
  25% {
    left: -17.25%;
    -webkit-animation-timing-function: cubic-bezier(
      0.31033,
      0.28406,
      0.8,
      0.73372
    );
    animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
  }
  48.35% {
    left: 29.5%;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
    animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
  }
  to {
    left: 117.38889%;
  }
}
@keyframes moveBar2 {
  0% {
    left: -54.88889%;
    -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
    animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
  }
  25% {
    left: -17.25%;
    -webkit-animation-timing-function: cubic-bezier(
      0.31033,
      0.28406,
      0.8,
      0.73372
    );
    animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
  }
  48.35% {
    left: 29.5%;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
    animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
  }
  to {
    left: 117.38889%;
  }
}
@-webkit-keyframes e {
  0% {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 20px;
    opacity: 1;
  }
}
@keyframes e {
  0% {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 20px;
    opacity: 1;
  }
}
@-webkit-keyframes end {
  0% {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 2px;
    opacity: 1;
  }
}
@keyframes end {
  0% {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 2px;
    opacity: 1;
  }
}
@-webkit-keyframes g {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}
@keyframes g {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  to {
    left: 100%;
  }
}

.service_locator-content {
  @apply flex flex-col lg:flex-row lg:absolute lg:top-0 lg:left-0 lg:right-0 lg:w-full lg:h-full;
}
.service_locator-search {
  position: relative;
  display: block;
}
.service_locator-panel {
}
.service_locator-title {
}
.service_locator-postcode {
  @apply relative mt-4;
  .btn-clear {
    color: #ccc;
    display: none;
    padding: 8px;
    -webkit-transition: color 0.15s;
    transition: color 0.15s;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
  }
  .btn-clear .clear-icon {
    display: inline-block;
    fill: currentColor;
    line-height: 1;
    stroke: currentColor;
    stroke-width: 0;
  }
  .btn-clear:hover {
    color: gray;
    cursor: pointer;
  }
  #input_postcode {
    @apply rounded-full bg-white border-none text-sm py-3 px-4 w-full focus:border-brand-purple focus:ring-brand-purple;
    @apply placeholder:text-gray-500;
  }
}
.service_locator-sidepane {
}
.service_locator-map {
  @apply hidden lg:block;
}
/* .service_locator-listing_tab,
.service_locator-listing_title {
  padding: 0.5rem 3rem;
  border-bottom: 1px solid hsla(210, 3%, 86%, 0.5);
} */
.service_locator-listing_title {
}
.service_locator-listing_tabs {
}
/* .service_locator-listing_partner_title {
  margin-bottom: 0.5rem;
} */
/* .service_locator-listing_tab {
  @apply relative;
  .right-arrow {
    position: absolute;
    right: 1rem;
    top: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    will-change: right;
    -webkit-transition: right 0.3s cubic-bezier(0.74, 0.25, 0.01, 1);
    transition: right 0.3s cubic-bezier(0.74, 0.25, 0.01, 1);
    pointer-events: none;
  }
} */
/* @media only screen and (max-width: 60rem) {
  .service_locator-wrap {
    height: calc(100vh - 5rem);
  }
  .service_locator {
    position: relative;
  }
  .service_locator-content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .service_locator-sidepane {
    padding-top: 0;
    overflow: initial;
    width: 100%;
  }
  .service_locator-map {
    display: none;
    width: 100% !important;
  }
} */

.suburb-columns {
  @apply columns-2 gap-x-4 gap-y-2 md:tw-columns-3 md:gap-x-6 lg:columns-4;
}
