.container {
  .prose {
    :where(table):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      line-height: 1.375em;
    }
    a {
      color: var(--section-link-color);
      @apply no-underline hover:underline;
    }
    table {
      @apply border-solid border;
      border-color: var(--tw-prose-td-borders);
    }
    table :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      @apply my-0;
    }
    :where(tbody td:first-child, tfoot td:first-child):not(
        :where([class~="not-prose"], [class~="not-prose"] *)
      ) {
      padding-left: 0.5714286em;
      @apply lg:pl-[0.75em];
    }
    :where(tbody td:last-child, tfoot td:last-child):not(
        :where([class~="not-prose"], [class~="not-prose"] *)
      ) {
      padding-right: 0.5714286em;
      @apply pr-[0.75em];
    }
    :where(thead):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      border-color: var(--tw-prose-td-borders);
      border-bottom-width: 2px;
    }
    :where(thead th):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      padding: 0.5714286em;
    }
    :where(thead th:first-child):not(
        :where([class~="not-prose"], [class~="not-prose"] *)
      ) {
      padding-left: 0.5714286em;
    }
    :where(thead):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      @apply bg-stone-200;
    }
    :where(tbody tr):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      @apply bg-stone-100;
    }
  }
}

@media screen and (max-width: 640px) {
  .container {
    .prose {
      table {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        table-layout: fixed;
        width: 100%;
        @apply border-none;
        thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
        tr {
          @apply border-solid border-t border-x border-b-2;
          border-color: var(--tw-prose-td-borders);
          display: block;
          margin-bottom: 16px;
        }
        td {
          border-bottom: 1px solid #ddd;
          display: block;
          &:before {
            content: attr(data-label);
            display: block;
            font-weight: bold;
          }
        }
      }
      :where(tbody td, tfoot td):not(
          :where([class~="not-prose"], [class~="not-prose"] *)
        ) {
        @apply py-3 px-4;
      }
    }
  }
}
