<div
  class="color-wrap"
  style="max-width: 600px; width: 100%; position: relative; margin: 0 auto"
>
  <div class="container" style="width: 100%">
    <div class="row row-0" style="background: #ffffff; margin: 0 auto">
      <div
        class="column col-xs-12 col-sm-12 col-0"
        style="
          vertical-align: top;
          background: transparent;
          text-align: left;
          font-size: 12px;
          font-family: Arial, Helvetica, sans-serif;
          color: #000000;
        "
      >
        <div
          class="elq-form-cell cell cell-0"
          style="
            background-color: transparent;
            line-height: 18px;
            padding: 10px 10px 10px 10px;
          "
        >
          <style></style>
          <div>
            <div>
              <form
                id="form95"
                class="elq-form"
                action="https://s1709896.t.eloqua.com/e/f2"
                method="post"
                name="ReferrerInfoPackWebsite"
              >
                <input
                  name="elqFormName"
                  type="hidden"
                  value="ReferrerInfoPackWebsite"
                /><input name="elqSiteId" type="hidden" value="1709896" /><input
                  name="elqCampaignId"
                  type="hidden"
                />
                <div class="layout container-fluid">
                  <div class="row">
                    <div class="grid-layout-col">
                      <div class="layout-col col-sm-12 col-xs-12">
                        <div
                          id="formElement0"
                          class="elq-field-style form-element-layout row"
                        >
                          <div
                            class="col-sm-12 col-xs-12"
                            style="text-align: left"
                          >
                            <label class="elq-label" for="fe1397"
                              >First Name<span class="elq-required"
                                >*</span
                              ></label
                            >
                          </div>
                          <div class="col-sm-12 col-xs-12">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="field-control-wrapper">
                                  <input
                                    id="fe1397"
                                    class="elq-item-input"
                                    style="width: 100%"
                                    name="firstName"
                                    type="text"
                                    value="~~eloqua..type--emailfield..syntax--First_Name___Forms1~~"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="grid-layout-col">
                      <div class="layout-col col-sm-12 col-xs-12">
                        <div
                          id="formElement1"
                          class="elq-field-style form-element-layout row"
                        >
                          <div
                            class="col-sm-12 col-xs-12"
                            style="text-align: left"
                          >
                            <label class="elq-label" for="fe1398"
                              >Last Name<span class="elq-required"
                                >*</span
                              ></label
                            >
                          </div>
                          <div class="col-sm-12 col-xs-12">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="field-control-wrapper">
                                  <input
                                    id="fe1398"
                                    class="elq-item-input"
                                    style="width: 100%"
                                    name="lastName"
                                    type="text"
                                    value="~~eloqua..type--emailfield..syntax--LastName~~"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="grid-layout-col">
                      <div class="layout-col col-sm-12 col-xs-12">
                        <div
                          id="formElement2"
                          class="elq-field-style form-element-layout row"
                        >
                          <div
                            class="col-sm-12 col-xs-12"
                            style="text-align: left"
                          >
                            <label class="elq-label" for="fe1403"
                              >Job Title</label
                            >
                          </div>
                          <div class="col-sm-12 col-xs-12">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="field-control-wrapper">
                                  <input
                                    id="fe1403"
                                    class="elq-item-input"
                                    style="width: 100%"
                                    name="singleLineText"
                                    type="text"
                                    value="~~eloqua..type--emailfield..syntax--Title1~~"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="grid-layout-col">
                      <div class="layout-col col-sm-12 col-xs-12">
                        <div
                          id="formElement3"
                          class="elq-field-style form-element-layout row"
                        >
                          <div
                            class="col-sm-12 col-xs-12"
                            style="text-align: left"
                          >
                            <label class="elq-label" for="fe1399"
                              >Email Address<span class="elq-required"
                                >*</span
                              ></label
                            >
                          </div>
                          <div class="col-sm-12 col-xs-12">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="field-control-wrapper">
                                  <input
                                    id="fe1399"
                                    class="elq-item-input"
                                    style="width: 100%"
                                    name="emailAddress"
                                    type="text"
                                    value="~~eloqua..type--emailfield..syntax--EmailAddress~~"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="grid-layout-col">
                      <div class="layout-col col-sm-12 col-xs-12">
                        <div
                          id="formElement4"
                          class="elq-field-style form-element-layout row"
                        >
                          <div
                            class="col-sm-12 col-xs-12"
                            style="text-align: left"
                          >
                            <label class="elq-label" for="fe1400"
                              >Mobile Phone<span class="elq-required"
                                >*</span
                              ></label
                            >
                          </div>
                          <div class="col-sm-12 col-xs-12">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="field-control-wrapper">
                                  <input
                                    id="fe1400"
                                    class="elq-item-input"
                                    style="width: 100%"
                                    name="mobilePhone"
                                    type="text"
                                    value=""
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="grid-layout-col">
                      <div class="layout-col col-sm-12 col-xs-12">
                        <div
                          id="formElement5"
                          class="elq-field-style form-element-layout row"
                        >
                          <div
                            class="col-sm-12 col-xs-12"
                            style="text-align: left"
                          >
                            <label class="elq-label" for="fe1401"
                              >Referrer Type<span class="elq-required"
                                >*</span
                              ></label
                            >
                          </div>
                          <div class="col-sm-12 col-xs-12">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="field-control-wrapper">
                                  <select
                                    id="fe1401"
                                    class="elq-item-select"
                                    style="width: 100%"
                                    name="dropdownMenu"
                                    data-value=""
                                  >
                                    <option value="Allied health professional">
                                      Allied health professional
                                    </option>
                                    <option value="GP">GP</option>
                                    <option value="Mental health professional">
                                      Mental health professional
                                    </option>
                                    <option value="NGO provider">
                                      NGO provider
                                    </option>
                                    <option value="NDIS provider">
                                      NDIS provider
                                    </option>
                                    <option value="School support">
                                      School support
                                    </option>
                                    <option value="Support coordinator">
                                      Support coordinator
                                    </option>
                                    <option value="Other">Other</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="grid-layout-col">
                      <div class="layout-col col-sm-12 col-xs-12">
                        <div
                          id="formElement6"
                          class="elq-field-style form-element-layout row"
                        >
                          <div
                            class="col-sm-12 col-xs-12"
                            style="text-align: left"
                          >
                            <label class="elq-label" for="fe1402"
                              >Business Name</label
                            >
                          </div>
                          <div class="col-sm-12 col-xs-12">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="field-control-wrapper">
                                  <input
                                    id="fe1402"
                                    class="elq-item-input"
                                    style="width: 100%"
                                    name="company"
                                    type="text"
                                    value=""
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="grid-layout-col">
                      <div class="layout-col col-sm-12 col-xs-12">
                        <div
                          id="formElement7"
                          class="elq-field-style form-element-layout row"
                        >
                          <div
                            class="col-sm-12 col-xs-12"
                            style="text-align: left"
                          >
                            <label class="elq-label" for="fe1404"
                              >Business Post Code</label
                            >
                          </div>
                          <div class="col-sm-12 col-xs-12">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="field-control-wrapper">
                                  <input
                                    id="fe1404"
                                    class="elq-item-input"
                                    style="width: 100%"
                                    name="zipPostal"
                                    type="text"
                                    value=""
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="grid-layout-col">
                      <div class="layout-col col-sm-12 col-xs-12">
                        <div
                          id="formElement8"
                          class="elq-field-style form-element-layout row"
                        >
                          <div class="col-sm-12 col-xs-12">
                            <div class="row">
                              <div class="col-xs-12">
                                <div>
                                  <div class="single-checkbox-row row">
                                    <input
                                      id="fe1405"
                                      name="singleCheckbox"
                                      type="checkbox"
                                    /><label
                                      class="checkbox-aligned elq-item-label"
                                      for="fe1405"
                                      >Opt in to receive updates from
                                      CoAct.</label
                                    >
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="grid-layout-col">
                      <div class="layout-col col-sm-12 col-xs-12">
                        <div
                          id="formElement9"
                          class="elq-field-style form-element-layout row"
                        >
                          <div class="col-sm-12 col-xs-12">
                            <div class="row">
                              <div class="col-xs-12">
                                <div>
                                  <input
                                    id="fe1406"
                                    class="submit-button-style"
                                    type="Submit"
                                    value="Submit"
                                  />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <input
                    id="fe1443"
                    name="utm_campaign"
                    type="hidden"
                    value="~~eloqua..type--emailfield..syntax--utm_campaign1~~"
                  /><input
                    id="fe1444"
                    name="utm_source"
                    type="hidden"
                    value="Website"
                  /><input
                    id="fe1445"
                    name="utm_medium"
                    type="hidden"
                    value="Organic"
                  />
                </div>
              </form>
              <script
                type="text/javascript"
                src="https://img07.en25.com/i/livevalidation_standalone.compressed.js"
              ></script>
              <script>
                function handleFormSubmit(ele) {
                  var submitButton = ele.querySelector("input[type=submit]");
                  var spinner = document.createElement("span");
                  spinner.setAttribute("class", "loader");
                  submitButton.setAttribute("disabled", true);
                  submitButton.style.cursor = "wait";
                  submitButton.parentNode.appendChild(spinner);
                  return true;
                }

                function resetSubmitButton(e) {
                  var submitButtons =
                    e.target.form.getElementsByClassName("submit-button");
                  for (var i = 0; i < submitButtons.length; i++) {
                    submitButtons[i].disabled = false;
                  }
                }

                function addChangeHandler(elements) {
                  for (var i = 0; i < elements.length; i++) {
                    elements[i].addEventListener("change", resetSubmitButton);
                  }
                }
                var form = document.getElementById("form95");
                addChangeHandler(form.getElementsByTagName("input"));
                addChangeHandler(form.getElementsByTagName("select"));
                addChangeHandler(form.getElementsByTagName("textarea"));
                var nodes = document.querySelectorAll(
                  "#form95 input[data-subscription]"
                );
                if (nodes) {
                  for (var i = 0, len = nodes.length; i < len; i++) {
                    var status = nodes[i].dataset
                      ? nodes[i].dataset.subscription
                      : nodes[i].getAttribute("data-subscription");
                    if (status === "true") {
                      nodes[i].checked = true;
                    }
                  }
                }
                var nodes = document.querySelectorAll(
                  "#form95 select[data-value]"
                );
                if (nodes) {
                  for (var i = 0; i < nodes.length; i++) {
                    var node = nodes[i];
                    var selectedValue = node.dataset
                      ? node.dataset.value
                      : node.getAttribute("data-value");
                    if (selectedValue) {
                      for (var j = 0; j < node.options.length; j++) {
                        if (node.options[j].value === selectedValue) {
                          node.options[j].selected = "selected";
                          break;
                        }
                      }
                    }
                  }
                }
                this.getParentElement = function (list) {
                  return list[list.length - 1].parentElement;
                };
                var dom0 = document.querySelector("#form95 #fe1397");
                var fe1397 = new LiveValidation(dom0, {
                  validMessage: "",
                  onlyOnBlur: false,
                  wait: 300,
                  isPhoneField: false,
                });
                fe1397.add(Validate.Custom, {
                  against: function (value) {
                    return !value.match(
                      /(telnet|ftp|https?):\/\/(?:[a-z0-9][a-z0-9-]{0,61}[a-z0-9]\.|[a-z0-9]\.)+[a-z]{2,63}/i
                    );
                  },
                  failureMessage: "Value must not contain any URL's",
                });
                fe1397.add(Validate.Custom, {
                  against: function (value) {
                    return !value.match(/(<([^>]+)>)/gi);
                  },
                  failureMessage: "Value must not contain any HTML",
                });
                fe1397.add(Validate.Length, {
                  tooShortMessage: "Invalid length for field value",
                  tooLongMessage: "Invalid length for field value",
                  minimum: 0,
                  maximum: 50,
                });
                fe1397.add(Validate.Presence, {
                  failureMessage: "This field is required",
                });
                var dom1 = document.querySelector("#form95 #fe1398");
                var fe1398 = new LiveValidation(dom1, {
                  validMessage: "",
                  onlyOnBlur: false,
                  wait: 300,
                  isPhoneField: false,
                });
                fe1398.add(Validate.Custom, {
                  against: function (value) {
                    return !value.match(
                      /(telnet|ftp|https?):\/\/(?:[a-z0-9][a-z0-9-]{0,61}[a-z0-9]\.|[a-z0-9]\.)+[a-z]{2,63}/i
                    );
                  },
                  failureMessage: "Value must not contain any URL's",
                });
                fe1398.add(Validate.Custom, {
                  against: function (value) {
                    return !value.match(/(<([^>]+)>)/gi);
                  },
                  failureMessage: "Value must not contain any HTML",
                });
                fe1398.add(Validate.Length, {
                  tooShortMessage: "Invalid length for field value",
                  tooLongMessage: "Invalid length for field value",
                  minimum: 0,
                  maximum: 50,
                });
                fe1398.add(Validate.Presence, {
                  failureMessage: "This field is required",
                });
                var dom2 = document.querySelector("#form95 #fe1403");
                var fe1403 = new LiveValidation(dom2, {
                  validMessage: "",
                  onlyOnBlur: false,
                  wait: 300,
                  isPhoneField: false,
                });
                fe1403.add(Validate.Custom, {
                  against: function (value) {
                    return !value.match(
                      /(telnet|ftp|https?):\/\/(?:[a-z0-9][a-z0-9-]{0,61}[a-z0-9]\.|[a-z0-9]\.)+[a-z]{2,63}/i
                    );
                  },
                  failureMessage: "Value must not contain any URL's",
                });
                fe1403.add(Validate.Custom, {
                  against: function (value) {
                    return !value.match(/(<([^>]+)>)/gi);
                  },
                  failureMessage: "Value must not contain any HTML",
                });
                fe1403.add(Validate.Length, {
                  tooShortMessage: "Invalid length for field value",
                  tooLongMessage: "Invalid length for field value",
                  minimum: 0,
                  maximum: 50,
                });
                var dom3 = document.querySelector("#form95 #fe1399");
                var fe1399 = new LiveValidation(dom3, {
                  validMessage: "",
                  onlyOnBlur: false,
                  wait: 300,
                  isPhoneField: false,
                });
                fe1399.add(Validate.Presence, {
                  failureMessage: "This field is required",
                });
                fe1399.add(Validate.Format, {
                  pattern:
                    /(^[A-Z0-9!#\$%&'\*\+\-\/=\?\^_`\{\|\}~][A-Z0-9!#\$%&'\*\+\-\/=\?\^_`\{\|\}~\.]{0,62}@(([A-Z0-9](?:[A-Z0-9\-]{0,61}[A-Z0-9])?)(\.[A-Z0-9](?:[A-Z0-9\-]{0,61}[A-Z0-9])?)+)$)/i,
                  failureMessage: "A valid email address is required",
                });
                fe1399.add(Validate.Format, {
                  pattern: /\.\.|\.@/i,
                  failureMessage: "A valid email address is required",
                  negate: "true",
                });
                var dom4 = document.querySelector("#form95 #fe1400");
                var fe1400 = new LiveValidation(dom4, {
                  validMessage: "",
                  onlyOnBlur: false,
                  wait: 300,
                  isPhoneField: false,
                });
                fe1400.add(Validate.Presence, {
                  failureMessage: "This field is required",
                });
                fe1400.add(Validate.Custom, {
                  against: function (value) {
                    return !value.match(
                      /(telnet|ftp|https?):\/\/(?:[a-z0-9][a-z0-9-]{0,61}[a-z0-9]\.|[a-z0-9]\.)+[a-z]{2,63}/i
                    );
                  },
                  failureMessage: "Value must not contain any URL's",
                });
                var dom5 = document.querySelector("#form95 #fe1401");
                var fe1401 = new LiveValidation(dom5, {
                  validMessage: "",
                  onlyOnBlur: false,
                  wait: 300,
                  isPhoneField: false,
                });
                fe1401.add(Validate.Presence, {
                  failureMessage: "This field is required",
                });
                var dom6 = document.querySelector("#form95 #fe1402");
                var fe1402 = new LiveValidation(dom6, {
                  validMessage: "",
                  onlyOnBlur: false,
                  wait: 300,
                  isPhoneField: false,
                });
                fe1402.add(Validate.Custom, {
                  against: function (value) {
                    return !value.match(
                      /(telnet|ftp|https?):\/\/(?:[a-z0-9][a-z0-9-]{0,61}[a-z0-9]\.|[a-z0-9]\.)+[a-z]{2,63}/i
                    );
                  },
                  failureMessage: "Value must not contain any URL's",
                });
                fe1402.add(Validate.Custom, {
                  against: function (value) {
                    return !value.match(/(<([^>]+)>)/gi);
                  },
                  failureMessage: "Value must not contain any HTML",
                });
                fe1402.add(Validate.Length, {
                  tooShortMessage: "Invalid length for field value",
                  tooLongMessage: "Invalid length for field value",
                  minimum: 0,
                  maximum: 50,
                });
                var dom7 = document.querySelector("#form95 #fe1404");
                var fe1404 = new LiveValidation(dom7, {
                  validMessage: "",
                  onlyOnBlur: false,
                  wait: 300,
                  isPhoneField: false,
                });
                fe1404.add(Validate.Custom, {
                  against: function (value) {
                    return !value.match(
                      /(telnet|ftp|https?):\/\/(?:[a-z0-9][a-z0-9-]{0,61}[a-z0-9]\.|[a-z0-9]\.)+[a-z]{2,63}/i
                    );
                  },
                  failureMessage: "Value must not contain any URL's",
                });
                fe1404.add(Validate.Custom, {
                  against: function (value) {
                    return !value.match(/(<([^>]+)>)/gi);
                  },
                  failureMessage: "Value must not contain any HTML",
                });
                var dom8 = document.querySelector("#form95 #fe1405");
                var fe1405 = new LiveValidation(dom8, {
                  validMessage: "",
                  onlyOnBlur: false,
                  wait: 300,
                  isPhoneField: false,
                });
                fe1405.add(Validate.Custom, {
                  against: function (value) {
                    return !value.match(
                      /(telnet|ftp|https?):\/\/(?:[a-z0-9][a-z0-9-]{0,61}[a-z0-9]\.|[a-z0-9]\.)+[a-z]{2,63}/i
                    );
                  },
                  failureMessage: "Value must not contain any URL's",
                });
                fe1405.add(Validate.Custom, {
                  against: function (value) {
                    return !value.match(/(<([^>]+)>)/gi);
                  },
                  failureMessage: "Value must not contain any HTML",
                });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
